
@{
    ViewBag.Title = "Registration Status";
}

<hgroup class="title">
    <h2>@ViewBag.Title.</h2>
</hgroup>

<div>
<br />
    Registration successfull, please use link to @Html.ActionLink("login", "login") to Test Bank.
</div>
