@{
    
    ViewBag.Title = "Home Page";
}

<div align="center" style="vertical-align:middle; padding-top:100px">
@*<img src="@Url.Content("~/Images/testbank.jpg")" alt="Test Bank" />*@
<br />
<h1>Welcome to Exam Point</h1>
</div>

