@model TestBank.Web.ViewModels.ErrorViewModel

@{
    ViewBag.Title = "Error";
    Layout = null;
}
<h2>Exception details</h2>
<p>
    Controller: @Model.ControllerName <br/>
    Action: @Model.ActionName
    Exception: @Model.Exception
</p>
