@{
    ViewBag.Title = "Finish";
}

<h2>Finished</h2>

<fieldset>
    <legend>Finished</legend>

    <div class="display-label">Thank you! for successfully completing the Assessment</div>
</fieldset>
@*<p>
    @Html.ActionLink("Back to List", "Index")
</p>*@


